@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 390); /* 390はSPデザインカンプの幅 */
    /* 変換サイト・ツールなどで、 390pxの幅での10pxを変換して2.56vwなのでそれを当ててもよい */
    /* font-size: 2.564102vw; */
}

@media (min-width:768px) {
html {
    font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
}
}

@media (min-width: 1200px) {
html {
    font-size: 62.5%; }
}

body {
    font-family: "Noto Self JP",serif;
    line-height: 1.75;
    color: #000;
}
@media (min-width: 768px) {
    body {
    font-size: 1.6rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}

/* sp ヘッダー */
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/assets/image/sp_mainvisual.jpg);
    background-size: 100%;
    background-position: top left;
}
.header-container {
    margin: 2.95rem 1.6rem 0;
}
.mainlogo {
    width: 13.932rem;
    height: 1.773rem;
    margin-inline: auto;
}
.mainlogo img {
    width: 100%;
}
.title {
    padding-left: .7rem;
    padding-top: 35.4rem;
}
.title h2 {
    text-align: left;
    font-family: Marcellus, serif;
    font-weight: 400;
    font-size: 4.1rem;
    letter-spacing: 1.23rem;
    line-height: 1.24;
    padding-bottom: 0.6rem;
}
.title p {
    font-size: 2rem;
    letter-spacing: .6rem;
}
/* pc ヘッダー */
@media (min-width: 768px) {
    .header {
        background-image: url(/assets/image/pc_mainvisual.jpg);
        background-size: cover;
        height: 72rem;
        background-position: center;
    }
    .header-container {
        max-width: 120rem;
        margin: 3.2rem 7.3rem 0;
    }
    .mainlogo {
        content: url(/assets/image/pc_header_mainlogo.svg);
        width: 16.254rem;
        height: 2.069rem;
    }
    .title {
        padding-top: 27.2rem;
    }
    .title h2 {
        font-size: 5rem;
        letter-spacing: 1.5rem;
        line-height: 1.36;
        padding-bottom: 0.1rem;
    }
    .title p {
        font-size: 2.5rem;
        letter-spacing: 0.75rem;
    }
}

/* sp ボタンリスト */
.button-container {
    display: flex;
    flex-direction: column;
    max-width: 35.8rem;
    height: 26.1rem;
    background-color: #F0F4FF;
    gap: 2rem;
    align-items: center;
    margin: 5rem auto 5rem;
    padding-top: 2rem;
}
.button-container h3 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.18rem;
    color: #111;
}
.button-container p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
.button-container p span {
    padding-left: 1rem;
}
.button-shop,
.button-cart {
    box-sizing: border-box;
    padding-top: 1rem;
    width: 30rem;
    height: 5.8rem;
    border: 1rem;
    border-radius: 3.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    transition: .3s;
    padding-top: 1.2rem;
}
.button-shop {
    background: #46C4DB;
    border: .2rem solid #46C4DB
}
.button-cart {
    background: #5DD5AB;
    border: .2rem solid #5DD5AB;
}
/* pc ボタンリスト */
@media (min-width: 768px) {
    .button-container {
        display: flex;
        flex-direction: row;
        max-width: 100rem;
        height: 14.6rem;
        margin: 4.8rem auto;
        padding: 0 4.8rem 0;
    }
    .button-container h3 {
        font-size: 2.4rem;
        letter-spacing: 0.24rem;
    }
    .button-container p {
        font-size: 1.6rem;
        font-weight: 400;
        text-align: left;
    }

    .button-shop {
        margin-left: 3.2rem;
    }
    .button-cart {
        margin-left: 1.2rem;
    }

    .button-shop:hover {
        color: #46C4DB;
        background: #fff;
    }
    .button-cart:hover {
        color: #5DD5AB;
        background: #fff;
    }
}

/* sp 商品説明 */
.description {
    background-image: url(/assets/image/sp_description.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    margin-inline: auto;
    height: 68rem;
}
.description-title {
    max-width: 35.8rem;
    margin-inline: auto;
    color: #fff;
    padding-top: 4.8rem;
}
.description-title-english {
    text-align: center;
    font-family: "EB Garamond", self;
    font-size: 3rem;
    font-weight: 700;
}
.description-title-japanese {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    padding-top: .5rem;
}
.description-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.285;
    padding-top: 1.8rem;
}

/* pc 商品説明 */
@media (min-width: 768px) {
    .description {
        background-image: url(/assets/image/pc_description.jpg);
        height: 55rem;

    }
    .description .container {
        max-width: 120rem;
        margin-inline: auto;
    }
    .description-title {
        max-width: 42.9rem;
        margin: 0 9.2rem 0 auto;
        padding-top: 12.7rem;
    }
    .description-title-english {
        text-align: left;
        font-family: "EB Garamond", self;
        font-size: 3.8rem;
        font-weight: 700;
    }
    .description-title-japanese {
        text-align: left;
        font-size: 2.4rem;
        padding-top: .8rem;
    }
    .description-text {
        padding-top: 2.4rem;
    }
}

/* sp お客様の声 */
.voices .container {
    height: 57.1rem;
}
.voices-title-english {
    text-align: center;
    font-family: "EB Garamond", self;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .15rem;
    margin-top: 5rem;
}
.voices-title-japanese {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .08rem;
    margin-top: -.4rem;
    margin-bottom: 3.6rem;
}
.voices {
    display: flex;
    justify-content: center;
}
.carousel {
    width: 28rem;
    height: 34.4rem;
    background-color: #DBF7F9;
    text-align: center;
}
.item img {
    padding: 2.8rem 0 .8rem;
    margin-inline: auto;
    width: 8rem;
    height: auto;
}
.voices-customer {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .07rem;
}
.item-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
    padding: 2rem 1.5rem 0;
    text-align: left;
}

.slick-prev,
.slick-next {
    width: 3.2rem;
    height: 3.2rem;
}
.slick-prev {
    left: -4rem;
}
.slick-next {
    right: -4rem;
}
.slick-dots {
    bottom: -3rem;
}
.slick-dotted {
    margin-bottom: 5rem;
}
.slick-dots li button:before {
    width: .9rem;
    height: .9rem;
    color: #EEEEEE;
    font-size: .9rem;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #00AFBF;
    opacity: 1;
}
.slick-dots li {
    margin: 0;
}

/* pc お客様の声 */
@media (min-width: 768px) {
    .voices .container {
        height: 71.6rem;
        max-width: 120rem;
    }
    .voices-title-english {
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: .225rem;
        margin-top: 8rem;
    }
    .voices-title-japanese {
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .1rem;
        margin-top: -.4rem;
        margin-bottom: 4rem;
    }
    .carousel {
        width: 30rem;
        height: 38.8rem;
    }

    .item img {
        padding: 4rem 0 .8rem;
        margin-inline: auto;
        width: 10rem;
        height: auto;
    }
    .voices-customer {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .075rem;
    }
    .item-text {
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1.6rem 1.6rem 4rem;
        text-align: left;
    }

}

/* sp Q&A */
.faq .container {
    background: linear-gradient(to right,#F4FFE8,#C6F0FE);
    padding-bottom: 3.2rem;
}
.faq-title-english {
    text-align: center;
    font-family: "EB Garamond", self;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .15rem;
    padding-top: 5rem;
}
.faq-title-japanese {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .08rem;
    margin-top: -.4rem;
    margin-bottom: 3.6rem;
}
.accordion-container {
    max-width: 35.8rem;
    margin-inline: auto;
    background-color: #fff;
    margin-bottom: 2rem;
}
.accordion-title,
.accordion-inner {
    display: flex;
}
.accordion-inner {
    display: none;
}
.accordion-title p,
.accordion-inner p {
    display: flex;
    font-family: "EB Garamond", self;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: .08rem;
    padding: 2rem 0 1.6rem 2rem;
}
.accordion-title span,
.accordion-inner span {
    display: block;
    font-family: "Noto Self JP",serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0;
    width: 28.3rem;
    padding: 0 0 1.2rem 1rem;
}
.accordion-inner span {
    width: 30.7rem;
}
.icon-down {
    display: block;
    width: 2.4rem;
    padding-top: 2.5rem;
    text-align: right
}
.icon-down img {
    width: 1rem;
    height: .645rem;
    transition: transform .6s;
}
.accordion-title.open
.icon-down img {
    transform: rotate( 180deg);
}

/* pc Q&A */
@media (min-width: 768px) {

}

/* sp 上に戻るボタン */
#page-top {
    width: 4rem;
    height: 4rem;
    background-color: #0071CE;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1.6rem;
    bottom: 16.5rem;
    cursor: pointer;
}
.pagetop-button-arrow {
    width: 1.4rem;
    height: 1.6rem;
}
.pagetop-button-arrow img {
    width: 100%;
}

/* pc 上に戻るボタン */
@media (min-width: 768px) {

}

/* sp フッター */
.footer {
    height: 16.5rem;
    background-color: #0071CE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}
.footer-logo {
    padding-top: 2.4rem;
    text-align: center;
    width: 16.254rem;
    height: 2.069rem;
}
.footer-logo img {
    width: 100%;

}
.footer-info {
    display: flex;
    list-style: none;
    column-gap: 3rem;
    padding-top: 2.4rem;
}
.footer-info a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}
.footer-copyright {
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    padding: 2.5rem 0;
}

/* pc フッター */
@media (min-width: 768px) {

}













